body{
  background-color:#d2b48c;
  text color: white;
}
header, main, nav,footer {
  text-align: center;
}
nav a{ 
  padding:15px;
  padding-bottom:4px;
  font-size: 1.8em;
  text-decoration: none; 
  color: white;         
}
nav a:hover, #currentPage, #contactPage{ 
  border-bottom:2px #ff4500 solid;
  font-size: 2em;
  transition: .10s;  
}
main{
  display: flex;
  justify-content:center;
}
#content,{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  color: white;
}
h1 {
  border: 1px solid red;
  font-family:'Pacifico',cursive;
  font-size: 4em;
  margin-bottom 0px;
  color:grey;
}
footer{
   font-size: 12px;
   color: grey;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
marquee{
 color: white;
}
